<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication.Web</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/Details.css" rel="stylesheet" />
    <link href="~/css/Survey.css" rel="stylesheet" />
</head>
<body>
    <header>
        <img src="~/images/img/logo.png" alt="National Park Geek logo" />
    </header>
    <nav>
        <ul class="Nav-List">
            <li>
                <form method="get" asp-action="Index" asp-controller="Home">
                    <button class ="nav-button"type="submit">Home</button>
                </form>
            </li>
            <li>
                <form method="get" asp-action="NewSurvey" asp-controller="Survey">
                    <button class="nav-button" type="submit">Survey</button>
                </form>
            </li>
        </ul>
    </nav>

    @RenderBody()

</body>
</html>
